<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/sports">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Top 10 Sports Headlines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="sports">
    <ion-card-header>
      <ion-card-title>{{ sports.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ sports.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
